# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build and binary directories
bld/
bin/
.installed

# Simulator outputs
*.log
*.log.gz
*.mpf
*.mpf.gz
*.csv
*.csv.gz
